<!DOCTYPE html>
<html>
 <head>
 <title>Créditos</title>
 <link rel='stylesheet' href='/stylesheets/style.css' />
 <link rel="icon" href="/favicon.ico" type="image/x-icon" />
 </head>
 <body>
 <h1>Créditos</h1>
 <p>Página creada por:</p>
 <p>Rodrigo Morrás Gutierrez</p>
 <img src="imgs/YO.png" alt='Rodrigo'/>
 </body>
 </html> 